/* ---- CSS reset ---- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: seashell;
}

/* ---- typography ---- */

body {
  color: #111;
  font-family: Chelsea Market, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

p {
  margin: 0;
}

/* ---- layout ---- */

html,
body {
  height: 100%;
}

/* #title-box {
  margin: 40px auto 30px auto;
  padding: 20px;
} */

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

#instructions-box {
  text-align: center;
}

.button {
  font-family: Chelsea Market, Helvetica, Arial, sans-serif;
  box-shadow: inset 0px 0px 15px 3px #23395e;
  margin: 30px auto 40px auto;
  background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  background-color: #2e466e;
  border-radius: 17px;
  border: 1px solid #1f2f47;
  color: #ffffff;
  font-size: 20px;
  padding: 20px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}
.button:hover {
  background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
  background-color: #415989;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 30px;
}

#scoreboard ul {
  justify-content: center;
  align-items: center;
}

#scoreboard ul li {
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container input {
  width: 200px;
  height: 40px;
  font-size: 24px;
}

/* @media (min-width: 840px) {
  .container {
    max-width: 840px;
    margin: 0 auto;
  }
} */

/* ---- components ---- */

.game {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.game header {
  height: 50px;
  display: flex;
  align-items: center;
}

.game .score {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 20px;
}

.game .label {
  font-weight: bold;
}

.game .value {
  font-style: italic;
}

.game .canvas-container {
  flex: 1;
  min-width: 800px;
  min-height: 640px;
  max-width: 800px;
  max-height: 640px;
}

canvas {
  border-color: black;
  border-style: solid;
  width: 100%;
  height: 100%;
  /* min-width: 800px;
  min-height: 640px;
  max-width: 800px;
  max-height: 640px; */
}
