/* ---- CSS reset ---- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

p {
  margin: 0;
}

/* ---- layout ---- */

html,
body {
  height: 100%;
}

#splash-container {
  display: flex;
  flex-direction: column;
}

#title-box {
  text-align: center;
  background-color: green;
  margin: 50px auto 50px auto;
  padding: 20px;
}

#instructions-box {
  text-align: center;
  background-color: blue;
  margin: 50px auto 50px auto;
  padding: 20px;
}

#start-btn-box {
  text-align: center;
  background-color: red;
  margin: 50px auto 50px auto;
  padding: 20px;
}




.container {
  margin: 20px 20px;
}

@media (min-width: 840px) {
  .container {
    max-width: 840px; /* Resizes the container to 728px for large screens */
    margin: 0 auto;
  }
}

/* ---- components ---- */

.game {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.game header {
  height: 50px;
  display: flex;
  align-items: center;
}

.game .lives {
  flex: 1;
}

.game .score {
  flex: 1;
}

.game .label {
  font-weight: bold;
}

.game .value {
  font-style: italic;
}

.game .canvas-container {
  flex: 1;
  border-color: black;
  border-style: solid;
}
